# Importing library

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# loading dataset

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
boston;

# dataframed the boston data

In [3]:
df = DataFrame(boston['data'],columns=boston['feature_names'])
df['target'] = boston['target']
df.head();

# define X and Y

In [4]:
X = df.drop('target',axis=1)
Y  = df['target']

# splitting data

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

# importing the right model

In [6]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor()
RFR.fit(X_train,Y_train)
Ypred = RFR.predict(X_test)
Ypred

Ypred_mean = np.full(len(Ypred),fill_value=Ypred.mean())
Ypred_mean

array([22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549, 22.7982549, 22.7982549, 22.7982549,
       22.7982549, 22.7982549])

# finding the r2
**r2**

In [7]:
from sklearn.metrics import r2_score
r2_score(Y_test,Ypred)

0.8231622609548024

**Mean Absolute Error(MAE)**

In [8]:
df1 = DataFrame({'actual value':Y_test,
                'predicted value':Ypred})
df1['diffrence'] = df1['actual value']-df1['predicted value']
df1['diff_square'] = np.absolute(df1['diffrence'])
df1['mean'] = df1['diff_square'].mean()
df1

     actual value  predicted value  diffrence  diff_square      mean
374          13.8           12.153      1.647        1.647  2.652157
192          36.4           34.377      2.023        2.023  2.652157
364          21.9           45.324    -23.424       23.424  2.652157
16           23.1           21.755      1.345        1.345  2.652157
31           14.5           19.886     -5.386        5.386  2.652157
..            ...              ...        ...          ...       ...
431          14.1           20.694     -6.594        6.594  2.652157
161          50.0           43.487      6.513        6.513  2.652157
443          15.4           15.357      0.043        0.043  2.652157
173          23.6           22.852      0.748        0.748  2.652157
413          16.3           14.968      1.332        1.332  2.652157

[102 rows x 5 columns]

In [9]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(Y_test,Ypred)
MAE

2.652156862745097

In [10]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(Y_test,Ypred)
MSE

16.330085431372545

In [11]:
df2 = DataFrame({'actual value':Y_test,
                'predicted value':Ypred})
df2['diffrence'] = df2['actual value']-df1['predicted value']
df2['diff_square'] = df2['diffrence']**2
df2['mean'] = df2['diff_square'].mean()
df2

     actual value  predicted value  diffrence  diff_square       mean
374          13.8           12.153      1.647     2.712609  16.330085
192          36.4           34.377      2.023     4.092529  16.330085
364          21.9           45.324    -23.424   548.683776  16.330085
16           23.1           21.755      1.345     1.809025  16.330085
31           14.5           19.886     -5.386    29.008996  16.330085
..            ...              ...        ...          ...        ...
431          14.1           20.694     -6.594    43.480836  16.330085
161          50.0           43.487      6.513    42.419169  16.330085
443          15.4           15.357      0.043     0.001849  16.330085
173          23.6           22.852      0.748     0.559504  16.330085
413          16.3           14.968      1.332     1.774224  16.330085

[102 rows x 5 columns]